
<div class="well">
<a href="https://twitter.com/BelongieLab?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @BelongieLab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br />
<a href="https://twitter.com/intent/tweet?screen_name=BelongieLab&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @BelongieLab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/BelongieLab?ref_src=twsrc%5Etfw">Tweets by BelongieLab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<h4>News</h4>

{% for article in site.data.news limit:9 %}
{{ article.date }}
<p>{{ article.headline }}</p>
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>

    </div>
